{% extends 'base.html' %}

{% block head %}

{% endblock %}


{% block content %}
<div class="drawing">
  <div class="container-fluid mt-2 border border-5" style="max-width: 1180px;">
    <div class="d-flex flex-row justify-content-around">

      <!-- Col for youtube and painting -->
      <div class="d-flex flex-column">
        <div class="p-2">
          <iframe width="450" height="315" src="{{youtubeURL}}">
          </iframe>
        </div>
        <div class="p-2">
          <div class="img-container">
            <img id="paintingToDraw" src="{{ paintingURL }}" class="img-fluid">
          </div>
        </div>
      </div>
      <!-- Col for canvas -->
      <div class="d-flex flex-column mt-2 me-2">
        <div class="app">
          <div class="controls">
            <div class="title ms-3">Paint</div>
            <div class="type">

              <input type="radio" name="pen-type" id="pen-pencil" checked>
              <label for="pen-pencil">
                <i class="fas fa-pencil-alt"></i>
              </label>

              <input type="radio" name="pen-type" id="pen-brush" checked>
              <label for="pen-brush">
                <i class="fa fa-paint-brush"></i>
              </label>

            </div>

            <div class="size">
              <label for="pen-size" style="color: rgb(0, 112, 0)">Size</label>
              <input type="range" id="pen-size" min="1" max="50">

            </div>

            <div class="color">
              <label for="pen-Color" style="color: rgb(0, 112, 0)">Color</label>
              <input type="color" id="pen-color" value="#000">
            </div>

            <div class="actions me-2">
              <button class="btn btn-outline-success" id="reset-canvas">Reset</button>
              <button class="btn btn-outline-success" id="save-canvas">Save</button>
            </div>
          </div>
          <div id="canvas-wrapper"></div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="footer pt-5" id="footer">
  <div class="footer-copyright text-center py-3">© J e n M u </div>  
</div>
  <script src="/static/javascript/drawing.js"></script>

{% endblock %}