{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div class="indexpage">
  <div class="container">
    <div class="row content">
      <div id = "new_image">
        <img id="currentImage" src="{{ painting.img_src }}" class="img-fluid" alt="...">
      </div>
    </div>

    <div class="row content">
        <p id="currentQuote">{{quote}}</p>

        <button type="button" id ="more" class="btn btn-outline-success" >Another Quote</button>
    </div>


    <div class="row content" id="colorContain">
      {% for color in list_hex %}
      <div class="col" style="background-color: {{ color }}">Color</div>
      {% endfor %}

    </div>
    <form action="/drawing" id="nextpageform" method="POST">
      <input type="hidden" name='paintingURL' class="chosenPainting" id="paintingURL" value="{{ painting.img_src }}"/>
      <input type="hidden" name='youtubeURL' class="chosenPainting" id="youtubeURL" value="{{ painting.youtube_src }}"/>
      <input type="submit" value="Take me there"/>
    </form>


  </div>
</div>



{% endblock %}