{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block content %}

  <div class="container fluid">
    <!-- BACKGROUND PAINTING -->
    <div class="background-image" id="background-image">
      <img id="currentImage" src="{{ painting.img_src }}" class="img-fluid">
    </div>
    
    <!-- BOB ROSS FIXED -->
    <div class="bob" id="bob">
      <img id="bob_ross" src="/static/images/bob_ross.png">
    </div>
  
    <!-- ROW 1 -->
    <div class="row" id="mainrow">
      <div class="col">
            <p id="currentQuote">{{quote}}</p>
      </div>
    </div>
    <div class="row" id="mainQuote">

        <div class="col" style="text-align: end;">
          <button type="button" id="more" class="btn btn-outline-success btn-lg">Show me something new</button>
        </div>
  
        <div class="col">
            <form action="/drawing" id="nextpageform" method="POST">
              <input type="hidden" name='paintingURL' class="chosenPainting" id="paintingURL"
                value="{{ painting.img_src }}" />
              <input type="hidden" name='youtubeURL' class="chosenPainting" id="youtubeURL"
                value="{{ painting.youtube_src }}" />
              <button class="btn btn-outline-success btn-lg" type="submit">Let's go paint with Bob Ross</button>
            </form>
        </div>
    </div>
  </div>
  
  
  <!-- FOOTER HERE -->

<div class="footer pt-5" id="footer">
  <div class="footer-copyright text-center py-3">© BOB BOB BOB </div>  
  
  <div class="colors-list">
    <div class="col">
      <div class="row content" id="colorContain">
        {% for color in list_hex %}
        <div class="col" style="background-color: {{ color }}; color:{{ color }}">Color</div>
        {% endfor %}
      </div>
    </div>
  </div>  
</div>



{% endblock %}